<h1 style="color: wheat;">Estudios</h1>
<ul>
  <li><b>Estudie primaria en el colegio Mariscal Ramon Castilla (2010 - 2014)</b></li>
  <li><span>Estudie secundaria en el colegio Julio Cesar Escobar (2015 - 2019)</span></li>
  <li><span style="word-wrap: break-word;">Estudio actualmente en el Instituto Marielena Moyano, cursando 5to ciclo de la carrera
    de Desarrollo de Sistemas.</span></li>
</ul>

<h1 style="color: wheat;">Experiencia Laboral</h1>
<ul>
  <li><span>En el 2021 empece trabajando en un almacen de Lurin como Axuliar de Almacen</span></li>
  <li><span>En el 2022 (Febrero - Diciembre) empece trabajando de limpieza en una planta industrial</span></li>
  <li><span>En el 2023 (Febrero - Marzo) trabaje un periodo corto en asesor telefonico (ventas) para España.</span></li>
  <li><span>En el 2024 (Marzo - Hoy) sigo trabajando de mercaderista para una marca de pastas dentales</span></li>
</ul>
